*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: 15px;
    /* border: 1px solid red; */
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
main{
    padding-top: 20px;
}

#calculator {
    width: fit-content;
    height: 700px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 5px solid black;
}

#display {
    width: 380px;
    height: 150px;
    border: 5px solid black;
    background-color: rgb(232, 232, 232);
    margin: 10px;
    padding: 10px;
    border-radius: 0;
}
#topDisplay, #bottomDisplay{
    text-align: right;
    border-radius: 0;
}
#topDisplay {
    height: 40%;
    font-weight: 300;
    font-size: 40px;
}
#bottomDisplay{
    height: 60%;
    font-weight: 400;
    font-size: 60px;
}

button{
    border: 3px solid black;
    margin: 10px;
    font-size: 30px;
}
button:hover{
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
    cursor: grab;
}
button:active{
    background-image: linear-gradient(rgb(0 0 0/15%) 0 0);
}

#clear-delete{
    width: 380px;
    display: flex;
    justify-content: space-between;
}
#clear{
    width: 170px;
    height: 75px;
    background-color: #ff5757;
}
#delete{
    width: 170px;
    height: 75px;
    background-color: #1e9aff;
}

#calcButtons{
    width: 380px;
    display: flex;
    flex-wrap: wrap;
}
.calcButton {
    width: 75px;
    height: 75px;
}